<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rank %>
    <%= f.select :rank, ['SR', 'R', 'N'], selected: 'N' %>
  </div>
  <div class="field">
    <%= f.label :num %>
    <%= f.number_field :num, size: 4 %>
  </div>
  <div class="field">
    <%= f.label :cardtype %>
    <%= f.select :cardtype,
	['Gold sign card', 'Summer memorial card', 'Summer sky card',
	 'Rainbow & Quartet card', 'Light up card', 'Joint tower card',
	 'Modern stripe card', 'Milky puzzle card', 'Sparkling card',
	 'Newspaper card', 'Elegant couch card', 'Pop color card'],
	selected: 'Joint tower card' %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.select :name,
	['一十木音也', '聖川真斗', '四ノ宮那月',
	 '一ノ瀬トキヤ', '神宮寺レン', '来栖翔', '愛島セシル',
	 '寿嶺二', '黒崎蘭丸', '美風藍', 'カミュ',
	 '月宮林檎', '日向龍也', '月宮林檎／日向龍也', '7人集合'] %>
  </div>
  <div class="field">
    <%= f.label :count %>
    <%= f.number_field :count, size: 4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
